:root {
  --swiper-pagination-color: #fcfcfc;
  --swiper-pagination-bullet-inactive-color: #9a9898;
}

.carousel-container {
  /* width: 20rem; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.first-section__carousel {
  .swiper {
    width: 340px;
    height: 300px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 18px;
  }

  .swiper-slide {
    background-color: #231f20;
  }

  .swiper-pagination {
    bottom: 0;
  }
}

@media screen and (min-width: 640px) {
  .carousel-container {
    width: 100%;
  }

  .first-section__carousel {
    width: 100%;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      height: 300px;
      width: 300px;
    }
  }
}
